In [21]:
# data reading, writing, exploration, cleaning
import pandas as pd
# array creation and operation
import numpy as np 
# plotting library
import matplotlib.pyplot as plt 
# data visualization library
import seaborn as sns
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [22]:
# loading the dataset
df = pd.read_csv("C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/order_item_dataset.csv")
df

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58900.0,13290.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/2017 11:05,239900.0,19930.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199000.0,17870.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12990.0,12790.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/2017 13:57,199900.0,18140.0
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,5/2/2018 4:11,299990.0,43410.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,7/20/2018 4:31,350000.0,36530.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,10/30/2017 17:14,99900.0,16950.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,8/21/2017 0:04,55990.0,8720.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,6/12/2018 17:10,43000.0,12790.0

In [23]:
# column names 
df.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'pickup_limit_date', 'price', 'shipping_cost'],
      dtype='object')

In [24]:
# checking the missing values
df.isnull().sum()

order_id             0
order_item_id        0
product_id           0
seller_id            0
pickup_limit_date    0
price                0
shipping_cost        0
dtype: int64

In [25]:
# change of datatype
df['price'] = df['price'].astype(int)
df['shipping_cost'] = df['shipping_cost'].astype(int)

In [26]:
df

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58900,13290
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/2017 11:05,239900,19930
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199000,17870
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12990,12790
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/2017 13:57,199900,18140
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,5/2/2018 4:11,299990,43410
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,7/20/2018 4:31,350000,36530
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,10/30/2017 17:14,99900,16950
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,8/21/2017 0:04,55990,8720
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,6/12/2018 17:10,43000,12790

In [27]:
# Group by order_id and product_id and calculate the quantity of items
df = df.groupby(['order_id', 'product_id']).agg({
    'order_item_id': 'count',   # Count to get quantity
    'pickup_limit_date': 'min',   # Take the earliest pickup_limit_date
    'price': 'sum',   # Sum the prices
    'shipping_cost': 'sum'   # Sum the shipping costs
}).rename(columns={'order_item_id': 'quantity'})

# Reset index to turn the grouped columns back into columns
df = df.reset_index()

# Display the final grouped DataFrame
df

,order_id,product_id,quantity,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,9/19/2017 9:45,58900,13290
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,5/3/2017 11:05,239900,19930
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,1/18/2018 14:48,199000,17870
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,8/15/2018 10:10,12990,12790
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,2/13/2017 13:57,199900,18140
...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,1,5/2/2018 4:11,299990,43410
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,1,7/20/2018 4:31,350000,36530
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,1,10/30/2017 17:14,99900,16950
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,1,8/21/2017 0:04,55990,8720
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,1,6/12/2018 17:10,43000,12790

In [28]:
def transform_datetime_column(df, column_name, prefix):
    # Convert the column to datetime
    df[column_name] = pd.to_datetime(df[column_name])
    
    # Split Date and Time
    df[f'{prefix}_Date'] = df[column_name].dt.date
    df[f'{prefix}_Time'] = df[column_name].dt.time
    
    # Extract Year, Month, Day, and Season
    df[f'{prefix}_Year'] = df[column_name].dt.year
    df[f'{prefix}_Month'] = df[column_name].dt.month
    df[f'{prefix}_Day'] = df[column_name].dt.day
    
    # Function to determine the season
    def get_season(month):
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Fall'
    
    df[f'{prefix}_Season'] = df[f'{prefix}_Month'].apply(get_season)
    
    # Extract Hour, Minute, Second, AM/PM, and Time of Day
    df[f'{prefix}_Hour'] = df[column_name].dt.hour
    df[f'{prefix}_Minute'] = df[column_name].dt.minute
    df[f'{prefix}_AM/PM'] = df[column_name].dt.strftime('%p')
    
    # Function to determine the time of day
    def get_period(hour):
        if 5 <= hour < 12:
            return 'Morning'
        elif 12 <= hour < 17:
            return 'Afternoon'
        elif 17 <= hour < 21:
            return 'Evening'
        else:
            return 'Night'
    
    df[f'{prefix}_TimeOfDay'] = df[f'{prefix}_Hour'].apply(get_period)
    
    return df

In [29]:
df = transform_datetime_column(df, 'pickup_limit_date', 'pickup_limit')

In [30]:
df

,order_id,product_id,quantity,pickup_limit_date,price,shipping_cost,pickup_limit_Date,pickup_limit_Time,pickup_limit_Year,pickup_limit_Month,pickup_limit_Day,pickup_limit_Season,pickup_limit_Hour,pickup_limit_Minute,pickup_limit_AM/PM,pickup_limit_TimeOfDay
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,2017-09-19 09:45:00,58900,13290,2017-09-19,09:45:00,2017,9,19,Fall,9,45,AM,Morning
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,2017-05-03 11:05:00,239900,19930,2017-05-03,11:05:00,2017,5,3,Spring,11,5,AM,Morning
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,2018-01-18 14:48:00,199000,17870,2018-01-18,14:48:00,2018,1,18,Winter,14,48,PM,Afternoon
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,2018-08-15 10:10:00,12990,12790,2018-08-15,10:10:00,2018,8,15,Summer,10,10,AM,Morning
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,2017-02-13 13:57:00,199900,18140,2017-02-13,13:57:00,2017,2,13,Winter,13,57,PM,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,1,2018-05-02 04:11:00,299990,43410,2018-05-02,04:11:00,2018,5,2,Spring,4,11,AM,Night
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,1,2018-07-20 04:31:00,350000,36530,2018-07-20,04:31:00,2018,7,20,Summer,4,31,AM,Night
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,1,2017-10-30 17:14:00,99900,16950,2017-10-30,17:14:00,2017,10,30,Fall,17,14,PM,Evening
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,1,2017-08-21 00:04:00,55990,8720,2017-08-21,00:04:00,2017,8,21,Summer,0,4,AM,Night
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,1,2018-06-12 17:10:00,43000,12790,2018-06-12,17:10:00,2018,6,12,Summer,17,10,PM,Evening

In [31]:
df = df.drop('pickup_limit_date', axis=1)
df

,order_id,product_id,quantity,price,shipping_cost,pickup_limit_Date,pickup_limit_Time,pickup_limit_Year,pickup_limit_Month,pickup_limit_Day,pickup_limit_Season,pickup_limit_Hour,pickup_limit_Minute,pickup_limit_AM/PM,pickup_limit_TimeOfDay
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,58900,13290,2017-09-19,09:45:00,2017,9,19,Fall,9,45,AM,Morning
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,239900,19930,2017-05-03,11:05:00,2017,5,3,Spring,11,5,AM,Morning
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,199000,17870,2018-01-18,14:48:00,2018,1,18,Winter,14,48,PM,Afternoon
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,12990,12790,2018-08-15,10:10:00,2018,8,15,Summer,10,10,AM,Morning
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,199900,18140,2017-02-13,13:57:00,2017,2,13,Winter,13,57,PM,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,1,299990,43410,2018-05-02,04:11:00,2018,5,2,Spring,4,11,AM,Night
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,1,350000,36530,2018-07-20,04:31:00,2018,7,20,Summer,4,31,AM,Night
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,1,99900,16950,2017-10-30,17:14:00,2017,10,30,Fall,17,14,PM,Evening
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,1,55990,8720,2017-08-21,00:04:00,2017,8,21,Summer,0,4,AM,Night
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,1,43000,12790,2018-06-12,17:10:00,2018,6,12,Summer,17,10,PM,Evening

In [79]:
df.to_csv('C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/Original dataset/order_item.csv', index=False)

In [32]:
df.columns

Index(['order_id', 'product_id', 'quantity', 'price', 'shipping_cost',
       'pickup_limit_Date', 'pickup_limit_Time', 'pickup_limit_Year',
       'pickup_limit_Month', 'pickup_limit_Day', 'pickup_limit_Season',
       'pickup_limit_Hour', 'pickup_limit_Minute', 'pickup_limit_AM/PM',
       'pickup_limit_TimeOfDay'],
      dtype='object')